---
# vim:set sts=2 sw=2 tw=0:
---

.slide, .slide.cover {
  color: #270;
  text-shadow: 0px 0px 0.3em #cf9;
  background: #fff url('images/vim-background.png') center no-repeat;

  h2 {
    color: #390;
    text-align: center;
  }

}

.full .progress div {
  border-bottom-color: #00ff00;
}

.slide.cover {
  h2, h3 {
    color: #390;
    text-align:center;
  }
    
  h2 {
    font-size: 80px;
  }

  h3 {
    margin-top: 36px;
    font-size: 60px;
  }
}

.logo {
  background: #fff url('images/vim-logo-large.png') center no-repeat !important;
}

#Cover {
  h2 {
    font-size: 96px;
  }
  h3 {
    font-size: 64px;
  }
}
